*{
  margin: 2px;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  }
  body {
  font-size: 100%;
  background: white;
  margin: 0;
  height: 100vh;
  width: 100vw;
  border: 20px;
  display: flex;
}
.logo-paulista {
  position: fixed;
  top: -15%;
  right: 35%;
  border-radius: 100%;
}

input { 
  height: 15px;
  width: 100px;
  position: fixed;
  top: 60%;
  right: 48%;
  z-index: 999;
  
}

ol {
  flex-direction: column;
  position: fixed;
  position: fixed;
  right: 50%;
  top: 64%;
  z-index: 999;
  
}
.whats {
  right: 37%;
  top: 42%;
  position: fixed; 
  z-index: 999;
}
.instagram {
  right: 32%;
  top: 42%;
  position: fixed;
  z-index: 999;
}

img {
  border-radius: 10%;
  
}
    
  
  p {
  color:green;
  font-style: var();
  }
  
  