*{
margin: 4px;
padding: 0;
box-sizing: border-box;
text-decoration: none;
}
body {
font-size: 100%;
background-color: black;
}

.cabecalho {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
padding: 24px;

}

.cabecalho-imagens {
height: 120px;

}

.cabecalho-1 {
display: flex;
gap: 50px;
font-size: 23px;
color: white;
bottom: auto;
}
.cabecalho-1-3 {


}
.cabecalho-1-1:hover {
background-color: rgba(250, 241, 241, 0.149);
border-radius: 40px;
box-shadow: 1px 2px 1px rgb(16, 196, 0);
border: 1px solid white;
}
.cabecalho-1-2:hover {
background-color: rgba(250, 241, 241, 0.149);
border-radius: 40px;
box-shadow: 1px 2px 1px rgb(255, 69, 143);
border: 1px solid white;
}
.cabecalho-1-3:hover {
background-color: rgba(250, 241, 241, 0.149);
border-radius: 40px;
border: 1px solid white;
}
.conteudo {
color: white;
font-size: 15px;
border-top: 0.4px solid #fff; 
}

.conteudo-nomes {
font-size: 18px;
gap: 5px;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid white;
}

.conteudo-titulo {
    display: block;
    margin: 0 auto;
}